<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Listado de tareas</title>
</head>
<body>
	<h1>
		Listado de tareas <span
				th.text="${#strin}"></span>
	</h1>
	<table>
		<tr>
			<th>Código</th>
			<th>Usuario</th>
			<th>Descripción</th>
			<th>Vencimiento</th>
			<th>Acciones</th>
		</tr>
		<tr th:each="tarea : ${tareas}">
			<td th:text="${tarea.codigo}"></td>
			<td th:text="${tarea.nombreUsuario}"></td>
			<td th:text="${tarea.descripcion}"></td>
			<td th:text="${tarea.vencimiento.toString}"></td>
			<td><a href="@{/tarea-delete(codTarea=${tarea.codigo})}">Borrar</a></td>
		</tr>
	</table>
</body>
</html>
